---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/brewery/info/157?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '73'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.568,"measure":"seconds"},"init_time":{"time":0.011,"measure":"seconds"}},"notifications":[],"response":{"brewery":{"brewery_id":157,"brewery_name":"Boston
        Beer Company (Samuel Adams)","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-SamuelAdams.jpg","country_name":"United
        States","brewery_in_production":0,"is_independent":1,"claimed_status":{"is_claimed":true,"claimed_slug":"samadams","follow_status":false,"follower_count":82431,"uid":109715,"mute_status":"none"},"beer_count":295,"contact":{"twitter":"SamuelAdamsBeer","facebook":"http:\/\/www.facebook.com\/pages\/Samuel-Adams-for-the-love-of-beer\/117341921610","instagram":"samueladamsbeer","url":"http:\/\/www.samueladams.com"},"brewery_type":"Micro
        Brewery","brewery_type_id":2,"location":{"brewery_address":"30 Germania St","brewery_city":"Boston","brewery_state":"MA","brewery_lat":42.3144,"brewery_lng":-71.1034},"rating":{"count":1468778,"rating_score":3.548},"brewery_description":"Jim
        Koch founded the Boston Beer Company back in 1984 after brewing the first
        batch of Samuel Adams Boston Lager in his kitchen. It was his mission to reshape
        the way American beer drinkers thought of American beer. \n\nJust six weeks
        after introducing Samuel Adams Boston Lager to the public, it brought home
        the \"Best Beer in America\" honors at the Great American Beer Festival in
        Denver. An honor it went on to win 3 more times before that particular award
        was discontinued.\n\nToday, Samuel Adams makes more than 21 styles of award
        winning beer and is recognized around the globe as a hot house of new beer
        ideas.\n\nIf you share our passion, join us here as a fan! \n\nTake Pride
        in Your Beer! \n\nCheers!\n\nThe Boston Beer Company, Boston MA","stats":{"total_count":2697095,"unique_count":360651,"monthly_count":108792,"weekly_count":3648,"user_count":0,"age_on_service":1462.166724537},"owners":{"count":0,"items":[]},"media":{"count":15,"items":[{"photo_id":20616089,"photo":{"photo_img_sm":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/d30cb8d47e2b3ce6dfaf10dddcba58b2_100x100.jpg","photo_img_md":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/d30cb8d47e2b3ce6dfaf10dddcba58b2_320x320.jpg","photo_img_lg":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/d30cb8d47e2b3ce6dfaf10dddcba58b2_640x640.jpg","photo_img_og":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/d30cb8d47e2b3ce6dfaf10dddcba58b2_raw.jpg"},"created_at":"Fri,
        19 Sep 2014 03:40:53 +0000","checkin_id":115702207,"beer":{"bid":3942,"beer_name":"Samuel
        Adams OctoberFest","beer_abv":5.3,"beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-3942_dcf0d_sm.jpeg","beer_style":"Oktoberfest\/M\u00e4rzen","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":157,"brewery_name":"Boston
        Beer Company (Samuel Adams)","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-SamuelAdams.jpg","country_name":"United
        States","contact":{"twitter":"SamuelAdamsBeer","facebook":"http:\/\/www.facebook.com\/pages\/Samuel-Adams-for-the-love-of-beer\/117341921610","instagram":"samueladamsbeer","url":"http:\/\/www.samueladams.com"},"location":{"brewery_city":"Boston","brewery_state":"MA","lat":42.3144,"lng":-71.1034},"brewery_active":1},"user":{"uid":1355144,"user_name":"mmorel536","first_name":"Matthew","last_name":"M","user_avatar":"https:\/\/gravatar.com\/avatar\/4c0fb232dc4cae0a41c3174f28f7483d?size=100&d=https%3A%2F%2Fd1c8v1qci5en44.cloudfront.net%2Fsite%2Fassets%2Fimages%2Fdefault_avatar_v2.jpg%3Fv%3D1","relationship":"none","is_private":0},"venue":[]},{"photo_id":20616041,"photo":{"photo_img_sm":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/cc41103d2f822113712b6ac4905b7ff2_100x100.jpg","photo_img_md":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/cc41103d2f822113712b6ac4905b7ff2_320x320.jpg","photo_img_lg":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/cc41103d2f822113712b6ac4905b7ff2_640x640.jpg","photo_img_og":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/cc41103d2f822113712b6ac4[...]
