---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/brewery/info/157?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '16'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":1.129,"measure":"seconds"}},"notifications":[],"response":{"brewery":{"brewery_id":157,"brewery_name":"Boston
        Beer Company (Samuel Adams)","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-SamuelAdams.jpg","country_name":"United
        States","brewery_in_production":0,"claimed_status":{"is_claimed":true,"claimed_slug":"samadams","follow_status":false,"follower_count":14973,"uid":0},"beer_count":179,"contact":{"twitter":"SamuelAdamsBeer","facebook":"http:\/\/www.facebook.com\/pages\/Samuel-Adams-for-the-love-of-beer\/117341921610","url":"http:\/\/www.samueladams.com"},"brewery_type":"Micro
        Brewery","location":{"brewery_address":"30 Germania St","brewery_city":"Boston","brewery_state":"MA","brewery_lat":42.3144,"brewery_lng":-71.1034},"rating":{"count":221651,"rating_score":3.53},"brewery_description":"Jim
        Koch founded the Boston Beer Company back in 1984 after brewing the first
        batch of Samuel Adams Boston Lager in his kitchen. It was his mission to reshape
        the way American beer drinkers thought of American beer. \n\nJust six weeks
        after introducing Samuel Adams Boston Lager to the public, it brought home
        the \"Best Beer in America\" honors at the Great American Beer Festival in
        Denver. An honor it went on to win 3 more times before that particular award
        was discontinued.\n\nToday, Samuel Adams makes more than 21 styles of award
        winning beer and is recognized around the globe as a hot house of new beer
        ideas.\n\nIf you share our passion, join us here as a fan! \n\nTake Pride
        in Your Beer! \n\nCheers!","stats":{"total_count":515232,"unique_count":72889},"media":{"count":10,"items":[{"photo_id":1558713,"photo":{"photo_img_sm":"https:\/\/untappd.s3.amazonaws.com\/photo\/2012_12_04\/80f9bc0cd9c0e69a892bcf4358e2bcea_100x100.jpg","photo_img_md":"https:\/\/untappd.s3.amazonaws.com\/photo\/2012_12_04\/80f9bc0cd9c0e69a892bcf4358e2bcea_320x320.jpg","photo_img_lg":"https:\/\/untappd.s3.amazonaws.com\/photo\/2012_12_04\/80f9bc0cd9c0e69a892bcf4358e2bcea_640x640.jpg","photo_img_og":"https:\/\/untappd.s3.amazonaws.com\/photo\/2012_12_04\/80f9bc0cd9c0e69a892bcf4358e2bcea_raw.jpg"},"created_at":"Tue,
        04 Dec 2012 02:44:49 +0000","checkin_id":17307101,"beer":{"bid":8566,"beer_name":"Samuel
        Adams New World Tripel","beer_abv":10,"beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-SamuelAdamsNewWorldTripel_8566.jpeg","beer_style":"Trippel","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":157,"brewery_name":"Boston
        Beer Company (Samuel Adams)","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-SamuelAdams.jpg","country_name":"United
        States","contact":{"twitter":"SamuelAdamsBeer","facebook":"http:\/\/www.facebook.com\/pages\/Samuel-Adams-for-the-love-of-beer\/117341921610","url":"http:\/\/www.samueladams.com"},"location":{"brewery_city":"Boston","brewery_state":"MA","lat":42.3144,"lng":-71.1034}},"user":{"uid":255889,"user_name":"sch3nk2k4","first_name":"Chris","last_name":"S","user_avatar":"https:\/\/untappd.s3.amazonaws.com\/profile\/3dfaa786624159cd27a11eac78cba0aa_thumb.jpg","relationship":"unknown","is_private":0},"venue":[]},{"photo_id":1558690,"photo":{"photo_img_sm":"https:\/\/untappd.s3.amazonaws.com\/photo\/2012_12_04\/78a6b51182724374a426a3a13dcd47cc_100x100.jpg","photo_img_md":"https:\/\/untappd.s3.amazonaws.com\/photo\/2012_12_04\/78a6b51182724374a426a3a13dcd47cc_320x320.jpg","photo_img_lg":"https:\/\/untappd.s3.amazonaws.com\/photo\/2012_12_04\/78a6b51182724374a426a3a13dcd47cc_640x640.jpg","photo_img_og":"https:\/\/untappd.s3.amazonaws.com\/photo\/2012_12_04\/78a6b51182724374a426a3a13dcd47cc_raw.jpg"},"c[...]
