---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/brewery/checkins/157?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '74'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.566,"measure":"seconds"},"init_time":{"time":0.013,"measure":"seconds"}},"notifications":[],"response":{"type":"full","pagination":{"mem":false,"since_url":"http:\/\/api.untappd.com\/v4\/brewery\/checkins\/157?min_id=115704520","next_url":"http:\/\/api.untappd.com\/v4\/brewery\/checkins\/157?min_id=115703592","max_id":115703592},"checkins":{"count":25,"items":[{"checkin_id":115704520,"created_at":"Fri,
        19 Sep 2014 03:52:50 +0000","checkin_comment":"","rating_score":3.5,"user":{"uid":917669,"user_name":"Carock77","first_name":"Michael","last_name":"F.","location":"Seattle","url":"","is_supporter":1,"bio":"I
        can''t believe I have to wait until October to get Birthday Brew!  #@!+?!
        BAAAD. DGEEEESSSS!!!!!!!!!!","relationship":null,"user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/56529668f5adecfbe35d19423761c532_100x100.jpg","is_private":0,"contact":{"facebook":1115615793}},"beer":{"bid":795657,"beer_name":"Samuel
        Adams Harvest Pumpkin Ale (2014)","beer_abv":5.7,"beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/assets\/images\/temp\/badge-beer-default.png","beer_style":"Pumpkin
        \/ Yam Beer","auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":157,"brewery_name":"Boston
        Beer Company (Samuel Adams)","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-SamuelAdams.jpg","country_name":"United
        States","contact":{"twitter":"SamuelAdamsBeer","facebook":"http:\/\/www.facebook.com\/pages\/Samuel-Adams-for-the-love-of-beer\/117341921610","instagram":"samueladamsbeer","url":"http:\/\/www.samueladams.com"},"location":{"brewery_city":"Boston","brewery_state":"MA","lat":42.3144,"lng":-71.1034},"brewery_active":1},"venue":{"venue_id":1283305,"venue_name":"12th
        Man, 27th Ave. NE Chapter","primary_category":"Residence","categories":{"count":1,"items":[{"category_name":"Home
        (private)","category_id":"4bf58dd8d48988d103941735","is_primary":true}]},"venue_icon":{"sm":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/building\/home_bg_64.png","md":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/building\/home_bg_88.png","lg":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/building\/home_bg_88.png"},"location":{"venue_address":"","venue_city":"Seattle","venue_state":"WA","lat":47.6728,"lng":-122.302},"contact":{"twitter":"","venue_url":""},"foursquare":{"foursquare_id":"52c36ac7498e143762da50a3","foursquare_url":"http:\/\/4sq.com\/1cksdaA"}},"comments":{"total_count":0,"count":0,"items":[]},"toasts":{"total_count":0,"count":0,"auth_toast":null,"items":[]},"media":{"count":1,"items":[{"photo_id":20616587,"photo":{"photo_img_sm":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/9879aa805bc3e2a01820eb1e0b104bad_100x100.jpg","photo_img_md":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/9879aa805bc3e2a01820eb1e0b104bad_320x320.jpg","photo_img_lg":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/9879aa805bc3e2a01820eb1e0b104bad_640x640.jpg","photo_img_og":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/9879aa805bc3e2a01820eb1e0b104bad_raw.jpg"}}]},"source":{"app_name":"Untappd
        for Android - (V2)","app_website":"http:\/\/untpd.it\/androidapp"},"badges":{"count":0,"items":[]}},{"checkin_id":115704518,"created_at":"Fri,
        19 Sep 2014 03:52:50 +0000","checkin_comment":"This is quite ''meh'' on my
        Oktoberfest list.  They don''t even work it right.  But my wife keeps buying
        it, so bottoms up!","rating_score":3,"user":{"uid":670719,"user_name":"ryanruby","first_name":"Ryan","last_name":"R.","location":"","url":"","is_supporter":0,"bio":"","relationship":null,"user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/5c186[...]
