---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/brewery/checkins/157?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '17'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.668,"measure":"seconds"}},"notifications":[],"response":{"pagination":{"since_url":"http:\/\/api.untappd.com\/v4\/brewery\/checkins\/157?min_id=17307592","next_url":"http:\/\/api.untappd.com\/v4\/brewery\/checkins\/157?min_id=17306990","max_id":17306990},"checkins":{"count":25,"items":[{"checkin_id":17307592,"created_at":"Tue,
        04 Dec 2012 02:50:40 +0000","checkin_comment":"","rating_score":0,"user":{"uid":35508,"user_name":"Ayotte804","first_name":"Justin","last_name":"A.","location":"
        804","url":"","is_supporter":0,"bio":"","relationship":null,"user_avatar":"https:\/\/untappd.s3.amazonaws.com\/profile\/7b6bfa785792844fc2038571392054a5_thumb.jpg","is_private":0,"contact":{"facebook":31802122,"twitter":"Hopheadaot","foursquare":11377332}},"beer":{"bid":215565,"beer_name":"Samuel
        Adams Merry Mischief Gingerbread Stout","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-MerryMischief_215565.jpeg","beer_style":"Stout","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":157,"brewery_name":"Boston
        Beer Company (Samuel Adams)","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-SamuelAdams.jpg","country_name":"United
        States","contact":{"twitter":"SamuelAdamsBeer","facebook":"http:\/\/www.facebook.com\/pages\/Samuel-Adams-for-the-love-of-beer\/117341921610","url":"http:\/\/www.samueladams.com"},"location":{"brewery_city":"Boston","brewery_state":"MA","lat":42.3144,"lng":-71.1034}},"venue":{"venue_id":475602,"venue_name":"The
        House That Craft Built","primary_category":"Nightlife Spot","categories":{"count":1,"items":[{"category_name":"Speakeasy","category_id":"4bf58dd8d48988d1d4941735","is_primary":true}]},"venue_icon":{"sm":"https:\/\/foursquare.com\/img\/categories\/nightlife\/secretbar_64.png","md":"https:\/\/foursquare.com\/img\/categories\/nightlife\/secretbar_88.png","lg":"https:\/\/foursquare.com\/img\/categories\/nightlife\/secretbar_256.png"},"location":{"venue_address":"4
        N Stafford","venue_city":"Richmond","venue_state":"VA","lat":37.5516,"lng":-77.4704},"contact":{"twitter":"","venue_url":""},"foursquare":{"foursquare_id":"50a1b5c0d86c5711249dc9da","foursquare_url":"http:\/\/4sq.com\/RU4kME"}},"comments":{"count":0,"items":[]},"toasts":{"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]},"source":{"app_name":"Untappd
        for Android - (V2)","app_website":"http:\/\/untpd.it\/androidapp"}},{"checkin_id":17307573,"created_at":"Tue,
        04 Dec 2012 02:50:25 +0000","checkin_comment":"Even better","rating_score":5,"user":{"uid":333508,"user_name":"Frik","first_name":"David","last_name":"M.","location":"","url":"","is_supporter":0,"bio":"","relationship":null,"user_avatar":"http:\/\/gravatar.com\/avatar\/21bef8521f39372b41bf035e822b5c6b?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg","is_private":0,"[...]
