---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/search/brewery?q=Boston%20Beer&client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '72'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.032,"measure":"seconds"},"init_time":{"time":0.012,"measure":"seconds"}},"notifications":[],"response":{"search_type":"wildcard","sort":"","term":"Boston
        Beer","key":"boston beer","found":3,"brewery":{"count":3,"items":[{"brewery":{"brewery_id":157,"beer_count":360,"brewery_name":"Boston
        Beer Company (Samuel Adams)","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-SamuelAdams.jpg","country_name":"United
        States","location":{"brewery_city":"","brewery_state":"","lat":0,"lng":0}}},{"brewery":{"brewery_id":158,"beer_count":333,"brewery_name":"Beer
        Works (Boston, Salem, Hingham, Lowell)","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-BeerWorks_158.jpeg","country_name":"United
        States","location":{"brewery_city":"","brewery_state":"","lat":0,"lng":0}}},{"brewery":{"brewery_id":9023,"beer_count":3,"brewery_name":"The
        Hardcore Cider Company (Boston Beer Company)","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-TheHardcoreCiderCompanyBostonBeerCompany_9023.jpeg","country_name":"United
        States","location":{"brewery_city":"","brewery_state":"","lat":0,"lng":0}}}]}}}'
  recorded_at: Fri, 19 Sep 2014 03:53:23 GMT
recorded_with: VCR 2.3.0
