---
http_interactions:
- request:
    method: post
    uri: https://api.untappd.com/v4/checkin/toast/17831896?access_token=<UNTAPPD_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-auth-type:
      - user
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.034,"measure":"seconds"},"init_time":{"time":0.02,"measure":"seconds"}},"notifications":{"type":"notifications","unread_count":{"comments":0,"toasts":0,"friends":0,"messages":0,"news":0}},"response":{"result":"success","like_type":"toast","toasts":{"total_count":1,"count":1,"auth_toast":true,"items":[{"uid":25539,"user":{"uid":25539,"user_name":"darbyfrey","first_name":"darby","last_name":"frey","bio":"","location":"chicago","user_avatar":"https:\/\/gravatar.com\/avatar\/86c338232f03869122eb323bf3aafbf4?size=100&d=https%3A%2F%2Fd1c8v1qci5en44.cloudfront.net%2Fsite%2Fassets%2Fimages%2Fdefault_avatar_v2.jpg%3Fv%3D1","user_link":"https:\/\/untappd.com\/user\/darbyfrey","account_type":"user","brewery_details":[]},"like_id":54967740,"like_owner":true,"created_at":"Fri,
        19 Sep 2014 03:52:50 +0000"}]}}}'
  recorded_at: Fri, 19 Sep 2014 03:53:07 GMT
recorded_with: VCR 2.3.0
