---
http_interactions:
- request:
    method: post
    uri: http://api.untappd.com/v4/checkin/add?access_token=<UNTAPPD_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: gmt_offset=-5&timezone=CST&bid=10891
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '95'
      x-auth-type:
      - user
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.268,"measure":"seconds"}},"notifications":{"type":"notifications","unread_count":{"comments":0,"toasts":0,"friends":0,"messages":0,"news":0}},"response":{"result":"success","badge_valid":true,"checkin_id":17831666,"checkin_comment":"","stats":{"beer":"1st","beer_month":"1st"},"rating":[],"rapid":{"is_fast":true,"auth_level":"basic","time_left_rapid":0,"time_left_reg":9},"user":{"uid":25539,"user_name":"darbyfrey","first_name":"darby","last_name":"frey","location":"chicago","url":"","bio":"","user_avatar":"https:\/\/gravatar.com\/avatar\/86c338232f03869122eb323bf3aafbf4?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg","account_type":"user","contact":{"twitter":"darbyfrey"},"email_prefs":{"is_friend_request":1,"is_toast":0,"is_comment":1}},"beer":{"bid":10891,"beer_name":"Tank
        7 Farmhouse Ale","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-Boulevard-BrewingTank-7-Farmhouse-Ale.jpg","beer_abv":8,"beer_ibu":38,"beer_description":"A
        traditional Belgian-style farmhouse ale, the perfect combination of elements
        came together in their #7 fermenter. You could call it fate, but they called
        it Tank 7, and so it is. Beginning with a big surge of fruity aromatics and
        grapefruit-hoppy notes, the flavor of this complex, straw-colored ale tapers
        off to a peppery, dry finish.","beer_style_id":42,"beer_style":"Saison \/
        Farmhouse Ale","auth_rating":0},"brewery":{"brewery_id":1514,"brewery_name":"Boulevard
        Brewing Co.","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-boulevard.jpg","country_name":"United
        States"},"venue":[],"recommendations":[],"distance":0,"media":{"is_photo":false,"photo_data":false},"media_allowed":false,"social_settings":{"facebook":"off","twitter":"off","foursquare":"off"},"source":{"app_name":"WhatsThatTap","app_website":"http:\/\/WhatsThatTap.com"},"follow_status":{"is_follow":true,"status":false,"hash":"c88de65f3d84ebf1d7b089253fa20e16","uid":112981},"promotions":{"count":0,"items":[]},"badges":{"count":0,"items":[]},"social":[]}}'
  recorded_at: Thu, 13 Dec 2012 22:50:17 GMT
recorded_with: VCR 2.3.0
