---
http_interactions:
- request:
    method: post
    uri: https://api.untappd.com/v4/checkin/toast/17831896?access_token=<UNTAPPD_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '97'
      x-auth-type:
      - user
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.034,"measure":"seconds"},"init_time":{"time":0.018,"measure":"seconds"}},"notifications":{"type":"notifications","unread_count":{"comments":0,"toasts":0,"friends":0,"messages":0,"news":0}},"response":{"result":"success","like_type":"un-toast","toasts":{"total_count":0,"count":0,"auth_toast":true,"items":[]}}}'
  recorded_at: Fri, 19 Sep 2014 03:53:07 GMT
recorded_with: VCR 2.3.0
