---
http_interactions:
- request:
    method: post
    uri: http://api.untappd.com/v4/checkin/toast/17831896?access_token=<UNTAPPD_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '86'
      x-auth-type:
      - user
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.028,"measure":"seconds"}},"notifications":{"type":"notifications","unread_count":{"comments":0,"toasts":0,"friends":0,"messages":0,"news":0}},"response":{"result":"success","like_type":"un-toast","toasts":{"count":0,"auth_toast":false,"items":[]}}}'
  recorded_at: Fri, 14 Dec 2012 01:38:06 GMT
recorded_with: VCR 2.3.0
