---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/beer/trending?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '6'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.035,"measure":"seconds"}},"notifications":[],"response":{"macro":{"count":8,"items":[{"total_count":287,"your_count":0,"beer":{"bid":4473,"beer_name":"Guinness
        Draught","style_name":"Irish Dry Stout","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-guinnessDraught.jpg","beer_style":"Irish
        Dry Stout","beer_abv":"4.3","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":49,"brewery_name":"Guinness","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-guinness.jpg","country_name":"Ireland","contact":{"twitter":"GuinnessIreland","facebook":"","url":"http:\/\/www.guinness.com"},"location":{"brewery_city":"Dublin","brewery_state":"Ireland","lat":53.3441,"lng":-6.26749}}},{"total_count":265,"your_count":0,"beer":{"bid":3784,"beer_name":"Bud
        Light","style_name":"American Light Lager","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-budLight.jpg","beer_style":"American
        Light Lager","beer_abv":"4.2","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":44,"brewery_name":"Anheuser-Busch
        (ABInBev)","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-Anheuser-Busch.jpg","coun[...]
