---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/beer/info/18099?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '76'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.402,"measure":"seconds"},"init_time":{"time":0.009,"measure":"seconds"}},"notifications":[],"response":{"beer":{"bid":18099,"beer_name":"Arrogant
        Bastard Ale","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-arrogantBastardAle.jpg","beer_abv":7.2,"beer_ibu":0,"beer_description":"","beer_style":"American
        Strong Ale","is_in_production":1,"beer_slug":"stone-brewing-co-arrogant-bastard-ale","is_homebrew":0,"created_at":"Mon,
        27 Dec 2010 20:34:38 +0000","rating_count":75332,"rating_score":3.86654,"stats":{"total_count":133611,"monthly_count":5369,"total_user_count":87278,"user_count":0},"brewery":{"brewery_id":1204,"brewery_name":"Stone
        Brewing Co.","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-stone.jpg","country_name":"United
        States","contact":{"twitter":"StoneBrewingCo","facebook":"http:\/\/www.facebook.com\/StoneBrewingCo","url":"http:\/\/www.stonebrew.com\/"},"location":{"brewery_city":"Escondido","brewery_state":"CA","lat":33.1157,"lng":-117.12}},"auth_rating":0,"wish_list":false,"media":{"count":10,"items":[{"photo_id":20615236,"photo":{"photo_img_sm":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/9e83c518c9867ae5d9cb5761b574cb2b_100x100.jpg","photo_img_md":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/9e83c518c9867ae5d9cb5761b574cb2b_320x320.jpg","photo_img_lg":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/9e83c518c9867ae5d9cb5761b574cb2b_640x640.jpg","photo_img_og":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/9e83c518c9867ae5d9cb5761b574cb2b_raw.jpg"},"created_at":"Fri,
        19 Sep 2014 03:22:26 +0000","checkin_id":115698253,"beer":{"bid":18099,"beer_name":"Arrogant
        Bastard Ale","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-arrogantBastardAle.jpg","beer_abv":7.2,"beer_ibu":0,"beer_slug":"stone-brewing-co-arrogant-bastard-ale","beer_description":"","is_in_production":1,"beer_style_id":119,"beer_style":"American
        Strong Ale","auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":1204,"brewery_name":"Stone
        Brewing Co.","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-stone.jpg","country_name":"United
        States","contact":{"twitter":"StoneBrewingCo","facebook":"http:\/\/www.facebook.com\/StoneBrewingCo","url":"http:\/\/www.stonebrew.com\/"},"location":{"brewery_city":"Escondido","brewery_state":"CA","lat":33.1157,"lng":-117.12},"brewery_active":1},"user":{"uid":891892,"user_name":"BoogieK","first_name":"B","last_name":"K","user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/bbb79742e3c2c60376cd26b471d62ef7_thumb.jpg","relationship":"none","is_private":0},"venue":[{"venue_id":126377,"venue_name":"Upper
        Crust Pizza Patio & Wine Bar","primary_category":"Food","parent_category_id":"4d4b7105d754a06374d81259","categories":{"count":3,"items":[{"category_name":"Pizza
        Place","category_id":"4bf58dd8d48988d1ca941735","is_primary":true},{"category_name":"Wine
        Bar","category_id":"4bf58dd8d48988d123941735","is_primary":false},{"category_name":"Italian
        Restaurant","category_id":"4bf58dd8d48988d110941735","is_primary":false}]},"location":{"venue_address":"20235
        N Cave Creek Rd","venue_city":"Phoenix","venue_state":"AZ","lat":33.6711,"lng":-112.03},"contact":{"twitter":"@wineandpizza","venue_url":"http:\/\/www.uppercrustwinebar.com"},"private_venue":true,"foursquare":{"foursquare_id":"4d2e534ada7cb60c05796ed4","foursquare_url":"http:\/\/4sq.com\/hNli2u"},"venue_icon":{"sm":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/pizza_bg_64.png","md":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/pizza_bg_88.png","lg":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/pizza_bg_88.png"}}]},{"photo_id":20615112,"photo":{"photo_img_sm":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/d10ba8a6fefcdbd5fb2cc28cd996f8fa_100x100.jpg","photo_img_md":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/d10ba8a6fefcdbd5fb2cc28cd996f8fa_320x320.jpg","photo_img_lg":"https:\/\/d1c8v1qci5en44.cloudfront.net\/photo\/2014_09_19\/d10ba8a6fefcdbd5fb2cc28cd996f8fa_640x640.jpg","photo_img_og":"https:\/\/d1c8v1[...]
