---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/beer/checkins/18099?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '10'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.381,"measure":"seconds"}},"notifications":[],"response":{"pagination":{"next_url":"http:\/\/api.untappd.com\/v4\/beer\/checkins\/18099?max_id=17283311","max_id":17283311,"since_url":"http:\/\/api.untappd.com\/v4\/beer\/checkins\/18099?min_id=17307724"},"checkins":{"count":25,"items":[{"checkin_id":17307724,"created_at":"Tue,
        04 Dec 2012 02:52:44 +0000","checkin_comment":"","rating_score":0,"user":{"uid":214076,"user_name":"Beercules75","first_name":"Scott
        ","last_name":"E.","location":"","url":"","is_supporter":0,"bio":"","relationship":null,"user_avatar":"http:\/\/gravatar.com\/avatar\/c64828c61ad9b097562514d83f34d618?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg","is_private":0,"contact":{"facebook":100000652571079}},"beer":{"bid":18099,"beer_name":"Arrogant
        Bastard Ale","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-arrogantBastardAle.jpg","beer_style":"American
        Strong Ale","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":1204,"brewery_name":"Stone
        Brewing Co.","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-stone.jpg","country_name":"United
        States","contact":{"twitter":"StoneBrewingCo","facebook":"http:\/\/www.facebook.com\/StoneBrewingCo","url":"http:\/\/www.stonebrew.com\/"},"location":{"brewery_city":"Escondido","brewery_state":"CA","lat":33.1157,"lng":-117.12}},"venue":[],"comments":{"count":0,"items":[]},"toasts":{"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]},"source":{"app_name":"Untappd
        for Android - (V2)","app_website":"http:\/\/untpd.it\/androidapp"}},{"checkin_id":17307711,"created_at":"Tue,
        04 Dec 2012 02:52:20 +0000","checkin_comment":"Good ol bastard!!!","rating_score":4,"user":{"uid":209083,"user_name":"Drunkenstien","first_name":"Brandon","last_name":"S.","location":"Fresno","url":"","is_supporter":0,"bio":"Im
        the coolest motherfucker ever!!!","relationship":null,"user_avatar":"http:\/\/gravatar.com\/avatar\/cde47c0e1ee33932fc4ed895d4c55aa3?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.c[...]
