---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/beer/checkins/18099?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '77'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.623,"measure":"seconds"},"init_time":{"time":0.009,"measure":"seconds"}},"notifications":[],"response":{"pagination":{"next_url":"http:\/\/api.untappd.com\/v4\/beer\/checkins\/18099?max_id=115675259","max_id":115675259,"since_url":"http:\/\/api.untappd.com\/v4\/beer\/checkins\/18099?min_id=115703942"},"checkins":{"count":25,"items":[{"checkin_id":115703942,"created_at":"Fri,
        19 Sep 2014 03:49:21 +0000","checkin_comment":"You killed Kenny...YOU BASTARD!","rating_score":4,"user":{"uid":1270811,"user_name":"Hingle-McCringleberry","first_name":"Brian","last_name":"A.","location":"","url":"","is_supporter":0,"bio":"","relationship":null,"user_avatar":"https:\/\/gravatar.com\/avatar\/e0e63bfb4941f5e0965f6e9026911894?size=100&d=https%3A%2F%2Fd1c8v1qci5en44.cloudfront.net%2Fsite%2Fassets%2Fimages%2Fdefault_avatar_v2.jpg%3Fv%3D1","is_private":0,"contact":{"facebook":642026964}},"beer":{"bid":18099,"beer_name":"Arrogant
        Bastard Ale","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-arrogantBastardAle.jpg","beer_abv":7.2,"beer_ibu":0,"beer_slug":"stone-brewing-co-arrogant-bastard-ale","beer_description":"","is_in_production":1,"beer_style_id":119,"beer_style":"American
        Strong Ale","auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":1204,"brewery_name":"Stone
        Brewing Co.","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-stone.jpg","country_name":"United
        States","contact":{"twitter":"StoneBrewingCo","facebook":"http:\/\/www.facebook.com\/StoneBrewingCo","url":"http:\/\/www.stonebrew.com\/"},"location":{"brewery_city":"Escondido","brewery_state":"CA","lat":33.1157,"lng":-117.12},"brewery_active":1},"venue":[],"comments":{"total_count":0,"count":0,"items":[]},"toasts":{"total_count":0,"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]},"source":{"app_name":"Untappd
        for Android - (V2)","app_website":"http:\/\/untpd.it\/androidapp"},"badges":{"count":0,"items":[]}},{"checkin_id":115701940,"created_at":"Fri,
        19 Sep 2014 03:39:30 +0000","checkin_comment":"","rating_score":1,"user":{"uid":1594018,"user_name":"kmleonard1024","first_name":"Kristi","last_name":"L.","location":"","url":"","is_supporter":0,"bio":"","relationship":null,"user_avatar":"https:\/\/gravatar.com\/avatar\/384b0fb618b035535abb5d6713174d77?size=100&d=https%3A%2F%2Fd1c8v1qci5en44.cloudfront.net%2Fsite%2Fassets%2Fimages%2Fdefault_avatar_v2.jpg%3Fv%3D1","is_priv[...]
