---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/beer/trending?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '74'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.067,"measure":"seconds"},"init_time":{"time":0.009,"measure":"seconds"}},"notifications":[],"response":{"macro":{"count":10,"items":[{"total_count":501,"your_count":0,"beer":{"bid":4473,"beer_name":"Guinness
        Draught","style_name":"Irish Dry Stout","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-_4473_8122008947804818c90640a06d83.jpeg","beer_style":"Irish
        Dry Stout","beer_abv":4.3,"auth_rating":0,"wish_list":false},"brewery":{"brewery_id":49,"brewery_name":"Guinness","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-guinness.jpg","country_name":"Ireland","contact":{"twitter":"GuinnessIreland","facebook":"","instagram":"","url":"http:\/\/www.guinness.com"},"location":{"brewery_city":"Dublin
        8","brewery_state":"Ireland","lat":53.3614,"lng":-6.24792},"brewery_active":1}},{"total_count":419,"your_count":0,"beer":{"bid":3784,"beer_name":"Bud
        Light","style_name":"American Light Lager","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-3784_46fe5_sm.jpeg","beer_style":"American
        Light Lager","beer_abv":4.2,"auth_rating":0,"wish_list":false},"brewery":{"brewery_id":44,"brewery_name":"Anheuser-Busch","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-anheuserbusch_44.jpeg","country_name"[...]
