---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/search/beer/?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>&q=stone
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '7'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.246,"measure":"seconds"}},"notifications":[],"response":{"message":"","search_version":1,"found":922,"offset":0,"limit":25,"term":"stone","parsed_term":"stone","breweries":{"items":[{"brewery":{"brewery_id":34952,"beer_count":1,"brewery_name":"Stone
        Fly Rye","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/assets\/images\/temp\/badge-brewery-default.png","country_name":"United
        States","location":{"brewery_city":"","brewery_state":"","lat":0,"lng":0}}},{"brewery":{"brewery_id":40767,"beer_count":2,"brewery_name":"Oskar
        Stone","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/assets\/images\/temp\/badge-brewery-default.png","country_name":"United
        States","location":{"brewery_city":"","brewery_state":"","lat":0,"lng":0}}},{"brewery":{"brewery_id":46299,"beer_count":1,"brewery_name":"Stone
        Larger","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/assets\/images\/temp\/badge-brewery-default.png","coun[...]
