---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/search/beer/?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>&q=stone
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '75'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.181,"measure":"seconds"},"init_time":{"time":0.009,"measure":"seconds"}},"notifications":[],"response":{"message":"","brewery_id":false,"type_id":0,"search_version":3,"found":2270,"offset":0,"limit":25,"term":"stone","parsed_term":"stone*","beers":{"count":25,"items":[{"checkin_count":243489,"have_had":false,"your_count":0,"beer":{"bid":821,"beer_name":"Stone
        IPA","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-StoneIPA.jpg","beer_abv":6.9,"beer_ibu":77,"beer_description":"An
        \"India Pale Ale\" by definition is highly hopped and high in alcohol.\n\nMedium
        Bodied Refreshing Ale Light-medium malt character with a heavy dose of over
        the top hops! Two full weeks of \"dry hopping\" give this beer its abundant
        hop aroma and crisp hop flavor.\"","created_at":"Sat, 21 Aug 2010 07:26:35
        +0000","beer_style":"American IPA","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":1204,"brewery_name":"Stone
        Brewing Co.","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-stone.jpg","country_name":"United
        States","contact":{"twitter":"StoneBrewingCo","facebook":"http:\/\/www.facebook.com\/StoneBrewingCo","instagram":"StoneBrewingCo","url":"http:\/\/www.stonebrew.com\/"},"location":{"brewery_city":"Escondido","brewery_state":"CA","lat":33.1157,"lng":-117.12},"brewery_active":1}},{"checkin_count":133347,"have_had":false,"your_count":0,"beer":{"bid":18099,"beer_name":"Arrogant
        Bastard Ale","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-arrogantBastardAle.jpg","beer_abv":7.2,"beer_ibu":0,"beer_description":"","created_at":"Mon,
        27 Dec 2010 20:34:38 +0000","beer_style":"American Strong Ale","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":1204,"brewery_name":"Stone
        Brewing Co.","brewery_label":"https:\/\/d[...]
