---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/venue/checkins/18099?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '59'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.303,"measure":"seconds"},"init_time":{"time":0.037,"measure":"seconds"}},"notifications":[],"response":{"type":"full","pagination":{"since_url":"http:\/\/api.untappd.com\/v4\/venue\/checkins\/18099?min_id=101540499","next_url":"http:\/\/api.untappd.com\/v4\/venue\/checkins\/18099?max_id=227102","max_id":227102},"checkins":{"count":10,"items":[{"checkin_id":101540499,"created_at":"Wed,
        23 Jul 2014 03:14:48 +0000","rating_score":5,"checkin_comment":"Hells yeah!
        Meal might have been better...","user":{"uid":91498,"user_name":"mick1907","first_name":"mick","last_name":"c.","relationship":null,"is_supporter":0,"user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/bff2994c893515a15ab973a49970ac92_thumb.jpg","is_private":0},"beer":{"bid":450600,"beer_name":"Big
        Bad Baptist (Release #15)","beer_abv":11.4,"beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-_450600_sm_e281f39ff5c8880960f3409716d6b8.jpeg","beer_style":"American
        Imperial \/ Double Stout","auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":7216,"brewery_name":"Epic
        Brewing Co. (Utah, Colorado)","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-EpicBrewingCo_7216.jpeg","country_name":"United
        States","contact":{"twitter":"EpicBrewing","facebook":"http:\/\/www.facebook.com\/pages\/Epic-Brewing-Company\/278554429300","instagram":"","url":"http:\/\/www.epicbrewing.com\/"},"location":{"brewery_city":"Salt
        Lake City","brewery_state":"UT","lat":40.7512,"lng":-111.888},"brewery_active":1},"venue":{"venue_id":18099,"venue_name":"Mo''s
        Diner","primary_category":"Food","parent_category_id":"4d4b7105d754a06374d81259","categories":{"count":1,"items":[{"category_name":"Diner","category_id":"4bf58dd8d48988d147941735","is_primary":true}]},"location":{"venue_address":"306
        E Hargett St","venue_city":"Raleigh","venue_state":"NC","venue_country":"United
        States","lat":35.7781,"lng":-78.6347},"contact":{"twitter":"","venue_url":""},"public_venue":true,"foursquare":{"foursquare_id":"4b034d30f964a5206a4e22e3","foursquare_url":"http:\/\/4sq.com\/d2KRrl"},"venue_icon":{"sm":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/diner_bg_64.png","md":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/diner_bg_88.png","lg":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/diner_bg_88.png"}},"comments":{"total_count":0,"count":0,"items":[]},"toasts":{"total_count":1,"count":1,"auth_toast":null,"items":[{"uid":170531,"user":{"uid":170531,"user_name":"wendi0616","first_name":"WENDI","last_name":"G.","bio":"","location":"","user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/894eef8143cc571d116404408d0c64be_thumb.jpg","user_link":"https:\/\/untappd.com\/user\/wendi0616","account_type":"user","brewery_details":[]},"like_id":45885124,"like_owner":false,"created_at":"Wed,
        23 Jul 2014 16:03:22 +0000"}]},"media":{"count":0,"items":[]},"source":{"app_name":"Untappd
        for Android - (V2)","app_website":"http:\/\/untpd.it\/androidapp"},"badges":{"count":0,"items":[]}},{"checkin_id":101531254,"created_at":"Wed,
        23 Jul 2014 02:35:00 +0000","rating_score":5,"checkin_comment":"","user":{"uid":170531,"user_name":"wendi0616","first_name":"WENDI","last_name":"G.","relationship":null,"is_supporter":1,"user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/894eef8143cc571d116404408d0c64be_thumb.jpg","is_private":0},"beer":{"bid":450600,"beer_name":"Big
        Bad Baptist (Release #15)","beer_abv":11.4,"beer_label":"https:\/\/d[...]
