---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/venue/foursquare_lookup/4ccf5fec1ac7a1cd6a5c1392?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '57'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.012,"measure":"seconds"},"init_time":{"time":0.011,"measure":"seconds"}},"notifications":[],"response":{"venue":{"count":1,"items":[{"venue_name":"Untappd
        HQ - East","venue_id":1222,"foursquare_id":"4ccf5fec1ac7a1cd6a5c1392","last_updated":"Wed,
        17 Sep 2014 18:37:52 +0000"}]}}}'
  recorded_at: Fri, 19 Sep 2014 03:53:37 GMT
recorded_with: VCR 2.3.0
