---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/venue/foursquare_lookup/4ccf5fec1ac7a1cd6a5c1392?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-api-version:
      - '4'
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100'
      x-auth-type:
      - key
      x-ratelimit-remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200,"response_time":{"time":0.012,"measure":"seconds"},"init_time":{"time":0.011,"measure":"seconds"}},"notifications":[],"response":{"venue":{"count":1,"items":[{"venue_name":"Untappd
        HQ - East","venue_id":1222,"foursquare_id":"4ccf5fec1ac7a1cd6a5c1392","last_updated":"Fri,
        11 Apr 2014 17:41:14 +0000"}]}}}'
  recorded_at: Tue, 15 Apr 2014 18:35:47 GMT
recorded_with: VCR 2.4.0
