---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/venue/info/18099?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '7'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.031,"measure":"seconds"}},"notifications":[],"response":{"venue":{"venue_id":18099,"venue_name":"Mo''s
        Diner","last_updated":"Thu, 27 Sep 2012 16:25:07 +0000","primary_category":"Food","categories":{"count":1,"items":[{"category_name":"Diner","category_id":"4bf58dd8d48988d147941735","is_primary":true}]},"stats":{"total_count":3,"user_count":0,"total_user_count":2},"venue_icon":{"sm":"https:\/\/foursquare.com\/img\/categories\/food\/default_64.png","md":"https:\/\/foursquare.com\/img\/categories\/food\/default_88.png","lg":"https:\/\/foursquare.com\/img\/categories\/food\/default_256.png"},"location":{"venue_address":"306
        E. Hargett Street","venue_city":"Raleigh","venue_state":"NC","lat":35.7781,"lng":-78.6347},"contact":{"twitter":"","venue_url":""},"foursquare":{"foursquare_id":"4b034d30f964a5206a4e22e3","foursquare_url":"http:\/\/4sq.com\/d2KRrl"},"media":{"count":0,"items":[]},"checkins":{"count":3,"items":[{"checkin_id":13475007,"created_at":"Thu,
        27 Sep 2012 23:59:39 +0000","rating_score":4,"checkin_comment":"","user":{"uid":117736,"user_name":"gotham84","first_name":"Handsome","last_name":"S.","relationship":null,"user_avatar":"http:\/\/gravatar.com\/avatar\/f9dff3741f9323ba6cade892319d6ce5?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg","is_private":0},"beer":{"bid":6284,"beer_name":"Pale
        Ale","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-PaleAle_6284.jpeg","beer_style":"American
        Pale Ale","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":1142,"brewery_name":"Sierra
        Nevada Brewing Co.","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-sierraNevada.jpg","country_name":"United
        States","contact":{"twitter":"SierraNevada","facebook":"http:\/\/www.facebook.com\/sierranevadabeer","url":"http:\/\/www.sierranevada.com\/"},"location":{"brewery_city":"Chico","brewery_state":"CA","lat":39.7246,"lng":-121.816}},"venue":{"venue_id":18099,"venue_name":"Mo''s
        Diner","primary_category":"Food","location":{"venue_address":"306 E. Hargett
        Street","venue_city":"Raleigh","venue_state":"NC","lat":35.7781,"lng":-78.6347},"contact":{"twitter":"","venue_url":""},"categories":{"count":1,"items":[{"category_name":"Diner","category_id":"4bf58dd8d48988d147941735","is_primary":true}]},"venue_icon":{"sm":"https:\/\/foursquare.com\/img\/categories\/food\/default_64.png","md":"https:\/\/foursquare.com\/img\/categories\/food\/default_88.png","lg":"https:\/\/foursquare.com\/img\/categories\/food\/default_256.png"}},"comments":{"count":0,"items":[]},"toasts":{"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]},"source":{"app_name":"Untappd
        for iPhone - (V2)","app_website":"http:\/\/untpd.it\/iphoneapp"}},{"checkin_id":13472124,"created_at":"Thu,
        27 Sep 2012 23:24:23 +0000","rating_score":4,"checkin_comment":"","user":{"uid":117736,"user_name":"gotham84","first_name":"Handsome","last_name":"S.","relationship":null,"user_avatar":"http:\/\/gravatar.com\/avatar\/f9dff3741f9323ba6cade892319d6ce5?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg","is_private":0},"beer":{"bid":3776,"beer_name":"#9","beer_label":"http[...]
