---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/user/beers/cmar?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '10'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.021,"measure":"seconds"}},"notifications":[],"response":{"beers":{"sort":"date","count":4,"items":[{"recent_created_at":"Sat,
        21 May 2011 04:03:04 +0000","rating_score":0,"first_had":"Sat, 21 May 2011
        04:03:04 +0000","count":1,"beer":{"bid":4487,"beer_name":"Palo Santo Marron","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-dfhPaloSantoMarron.jpg","beer_abv":12,"beer_ibu":0,"beer_style":"Imperial
        \/ Double Brown Ale","beer_description":"Palo Santo Marron (Holy Tree Brown)\n\nAn
        unfiltered, unfettered, unprecedented brown ale aged in handmade wooden brewing
        vessels. The caramel and vanilla complexity unique to this beer comes from
        the exotic Paraguayan Palo Santo wood from which these tanks were crafted.
        Palo Santo means \\holy tree\\\" and it''s wood has been used in South American
        wine-making communities. \n\nThis beer is a 12% abv","created_at":"Sat, 21
        Aug 2010 07:26:35 +0000","auth_rating":0,"wish_list":false,"rating_score":4.065},"brewery":{"brewery_id":459,"brewery_name":"Dogfish
        Head Craft Brewery","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-DogfishHeadCraftBrewery_459.jpeg","country_name":"United
        States","contact":{"twitter":"dogfishbeer","facebook":"http:\/\/www.facebook.com\/dogfishheadbeer","url":"http:\/\/www.dogfish.com\/"},"location":{"brewery_city":"Milton","brewery_state":"DE","lat":38.7776,"lng":-75.3099}}},{"recent_created_at":"Mon,
        25 Apr 2011 10:49:45 +0000","rating_score":0,"first_had":"Mon, 25 Apr 2011
        10:49:45 +0000","count":1,"beer":{"bid":1382,"beer_name":"Stone Ruination
        IPA","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-StoneRuinationIPA.jpg","beer_abv":7.7,"beer_ibu":0,"beer_style":"Imperial
        \/ Double IPA","beer_description":"Wonderfully delicious and intensely bitter
        flavor on a refreshing malt base. Those wh[...]
