---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/user/checkins/cmar?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '9'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.036,"measure":"seconds"}},"notifications":[],"response":{"pagination":{"since_url":"http:\/\/api.untappd.com\/v4\/user\/checkins\/cmar?min_id=922857","next_url":"http:\/\/api.untappd.com\/v4\/user\/checkins\/cmar?max_id=413105","max_id":413105},"checkins":{"count":5,"items":[{"checkin_id":922857,"created_at":"Sat,
        21 May 2011 04:03:04 +0000","checkin_comment":"","rating_score":0,"user":{"uid":10824,"user_name":"cmar","first_name":"cmar","last_name":"","location":"Leesburg,
        VA","is_supporter":0,"url":"","bio":"","relationship":null,"user_avatar":"http:\/\/gravatar.com\/avatar\/cf989ae1f7ddd979f38b00ec033a0e7d?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg","is_private":0,"contact":{"twitter":"cmar","facebook":500011785,"foursquare":990366}},"beer":{"bid":4487,"beer_name":"Palo
        Santo Marron","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-dfhPaloSantoMarron.jpg","beer_style":"Imperial
        \/ Double Brown Ale","beer_abv":12,"auth_rating":0,"wish_list":false},"brewery":{"brewery_id":459,"brewery_name":"Dogfish
        Head Craft Brewery","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-DogfishHeadCraftBrewery_459.jpeg","country_name":"United
        States","contact":{"twitter":"dogfishbeer","facebook":"http:\/\/www.facebook.com\/dogfishheadbeer","url":"http:\/\/www.dogfish.com\/"},"location":{"brewery_city":"Milton","brewery_state":"DE","lat":38.7776,"lng":-75.3099}},"venue":[],"comments":{"count":0,"items":[]},"toasts":{"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]},"source":{"app_name":"iTappd","app_website":"anpret.com"}},{"checkin_id":734270,"created_at":"Mon,
        25 Apr 2011 10:49:45 +0000","checkin_comment":"","rating_score":0,"user":{"uid":10824,"user_name":"cmar","first_name":"cmar","last_name":"","location":"Leesburg,
        VA","is_supporter":0,"url":"","bio":"","relationship":null,"user_avatar":"http:\/\/gravatar.com\/avatar\/cf989ae1f7ddd979f38b00ec033a0e7d?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg","is_private":0,"contact":{"twitter":"cmar","facebook":500011785,"foursquare":990366}},"beer":{"bid":1382,"beer_name":"Stone
        Ruination IPA","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-StoneRuinationIPA.jpg","beer_style":"Imperial
        \/ Double IPA","beer_abv":7.7,"auth_rating":0,"wish_list":false},"brewery":{"brewery_id":1204,"brewery_name":"Stone
        Brewing Co.","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-stone.jpg","country_name":"United
        States","contact":{"twitter":"StoneBrewingCo","facebook":"http:\/\/www.facebook.com\/StoneBrewingCo","url":"http:\/\/www.stonebrew.com\/"},"location":{"brewery_city":"Escondido","brewery_state":"CA","lat":33.1157,"lng":-117.12}},"venue":{"venue_id":40147,"venue_name":"Shenandoah
        American Grill","primary_category":"Other","parent_category_id":"4d4b7105d754a06379d81251","categories":{"count":0,"items":[]},"location":{"venue_address":"44630
        Waxpool Road","venue_city":"Ashburn","venue_state":"VA","lat":39.0137,"lng":-77.4604},"contact":{"twitter":"","venue_url":null},"foursquare":{"foursquare_id":"4d8cbcfb5dff8eec8b4afbcf","foursquare_url":"http:\/\/4sq.com\/ekQa5R"},"venue_icon":{"sm":"http:\/\/foursquare.com\/img\/categories\/none_64.png","md":"http:\/\/foursquare.com\/img\/categories\/none_88.png","lg":"http:\/\/foursquare.com\/img\/categories\/none_256.png"}},"comments":{"count":0,"items":[]},"toasts":{"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]},"source":{"app_name":"iTappd","app_website":"anpret.com"}},{"checkin_id":651116,"created_at":"Thu,
        14 Apr 2011 09:58:28 +0000","checkin_comment":"","rating_score":0,"user":{"uid":10824,"user_name":"cmar","first_name":"cmar","last_name":"","location":"Leesburg,
        VA","is_supporter":0,"url":"","bio":"","relations[...]
