---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/user/info/cmar?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '14'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.099,"measure":"seconds"}},"notifications":[],"response":{"user":{"uid":10824,"id":10824,"user_name":"cmar","first_name":"cmar","last_name":"","user_avatar":"http:\/\/gravatar.com\/avatar\/cf989ae1f7ddd979f38b00ec033a0e7d?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg","is_private":0,"location":"Leesburg,
        VA","url":"","bio":"","is_supporter":0,"relationship":null,"untappd_url":"http:\/\/untappd.com\/user\/cmar","account_type":"user","stats":{"total_badges":1,"total_friends":1,"total_checkins":5,"total_beers":4,"total_created_beers":0},"recent_brews":{"count":4,"items":[{"beer":{"bid":4487,"beer_name":"Palo
        Santo Marron","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-dfhPaloSantoMarron.jpg","beer_abv":12,"beer_description":"Palo
        Santo Marron (Holy Tree Brown)\n\nAn unfiltered, unfettered, unprecedented
        brown ale aged in handmade wooden brewing vessels. The caramel and vanilla
        complexity unique to this beer comes from the exotic Paraguayan Palo Santo
        wood from which these tanks were crafted. Palo Santo means \\holy tree\\\"
        and it''s wood has been used in South American wine-making communities. \n\nThis
        beer is a 12% abv","beer_style":"Imperial \/ Double Brown Ale","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":459,"brewery_name":"Dogfish
        Head Craft Brewery","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-DogfishHeadCraftBrewery_459.jpeg","country_name":"United
        States","contact":{"twitter":"dogfishbeer","facebook":"http:\/\/www.facebook.com\/dogfishheadbeer","url":"http:\/\/www.dogfish.com\/"},"location":{"brewery_city":"Milton","brewery_state":"DE","lat":38.7776,"lng":-75.3099}}},{"beer":{"bid":1382,"beer_name":"Stone
        Ruination IPA","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-StoneRuinationIPA.jpg","beer_abv":7.7,"beer_description":"Wonderfully
        delicious and intensely bitter flavor on a refreshing malt base. Those who
        seek, crave and rejoice in beers with big, bold, bitter character will find
        true nirvana.","beer_style":"Imperial \/ Double IPA","auth_rating":0,"wish_list":false},"brewery":{"brewery_[...]
