---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/user/badges/cmar?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '65'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.03,"measure":"seconds"},"init_time":{"time":0.011,"measure":"seconds"}},"notifications":[],"response":{"type":"earned","sort":"all","count":10,"items":[{"badge_id":246,"user_badge_id":4640101,"checkin_id":31022120,"badge_name":"American
        Craft Beer Week (2013)","badge_description":"With new breweries popping up
        every day, there''s no doubt the craft beer movement is strong in the US.
        Celebrate American Craft Beer Week and show your support!","badge_hint":"Check-in
        to any American craft beer during May 13th - May 20th. The beer must be from
        a brewery in the United States and listed as non-Macro brewery on Untappd.","badge_active_status":0,"media":{"badge_image_sm":"https:\/\/untappd.s3.amazonaws.com\/badges\/bdg_acbw2013_sm.jpg","badge_image_md":"https:\/\/untappd.s3.amazonaws.com\/badges\/bdg_acbw2013_md.jpg","badge_image_lg":"https:\/\/untappd.s3.amazonaws.com\/badges\/bdg_acbw2013_lg.jpg"},"created_at":"Sun,
        19 May 2013 18:47:22 +0000","is_level":false,"levels":[]},{"user_badge_id":4640098,"badge_id":60,"checkin_id":31022120,"badge_name":"I
        Believe in IPA!","badge_description":"We believe in IPA and you should too.
        You certainly have a taste for the hops! That''s 5 different IPAs. Try 5 more
        for Level 2","badge_hint":"Try 5 different IPA style beers. This badge can
        be leveled to 10. You can earn 1 level per 24 hours.","badge_active_status":1,"media":{"badge_image_sm":"https:\/\/d1c8v1qci5en44.cloudfront.net\/badges\/bdg_hoptopia_sm.jpg","badge_image_md":"https:\/\/d1c8v1qci5en44.cloudfront.net\/badges\/bdg_hoptopia_md.jpg","badge_image_lg":"https:\/\/d1c8v1qci5en44.cloudfront.net\/badges\/bdg_hoptopia_lg.jpg"},"created_at":"Sun,
        19 May 2013 18:47:21 +0000","is_level":true,"levels":{"count":1,"items":[{"actual_badge_id":60,"badge_id":4640098,"checkin_id":31022120,"badge_name":"I
        Believe in IPA!","badge_description":"We believe in IPA and you should too.
        You certainly have a taste for the hops! That''s 5 different IPAs. Try 5 more
        for Level 2","media":{"badge_image_sm":"https:\/\/d1c8v1qci5en44.cloudfront.net\/badges\/bdg_hoptopia_sm.jpg","badge_image_md":"https:\/\/d1c8v1qci5en44.cloudfront.net\/badges\/bdg_hoptopia_md.jpg","badge_image_lg":"https:\/\/d1c8v1qci5en44.cloudfront.net\/badge[...]
