---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/checkin/recent?access_token=<UNTAPPD_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '93'
      x-auth-type:
      - user
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.842,"measure":"seconds"},"init_time":{"time":0.022,"measure":"seconds"}},"notifications":{"type":"notifications","unread_count":{"comments":0,"toasts":0,"friends":0,"messages":0,"news":0}},"response":{"mg":true,"checkins":{"count":25,"items":[{"checkin_id":115642220,"created_at":"Fri,
        19 Sep 2014 00:43:19 +0000","checkin_comment":"Very good. Caramel and spicy
        hops.  Smooth  ends with a slight sweet finish.","rating_score":3.5,"user":{"uid":204272,"user_name":"defeta","first_name":"THEO","last_name":"DeFelice","location":"Pittsburgh","url":"","is_supporter":0,"relationship":"friends","bio":"Life
        is not about waiting for the storm to pass;  it''s about learning to dance
        in the rain..........  V. Greene","user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/ca99a49a9c627327e330d24c7d430528_thumb.jpg"},"beer":{"bid":78539,"beer_name":"Paulaner
        Oktoberfest Bier","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-PaulanerOktoberfestBier_78539.jpeg","beer_style":"Oktoberfest\/M\u00e4rzen","beer_abv":6,"auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":972,"brewery_name":"Paulaner
        Gruppe","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-PaulanerBrauereiGmbHCo_972.jpeg","country_name":"Germany","contact":{"twitter":"","facebook":"","instagram":"","url":"http:\/\/www.paulaner-gruppe.de"},"location":{"brewery_city":"M\u00fcnchen","brewery_state":"","lat":48.1223,"lng":11.5832},"brewery_active":1},"venue":{"venue_id":58799,"venue_name":"Wexford
        Ale House","primary_category":"Nightlife Spot","parent_category_id":"4d4b7105d754a06376d81259","categories":{"count":1,"items":[{"category_name":"Bar","category_id":"4bf58dd8d48988d116941735","is_primary":true}]},"location":{"venue_address":"10501
        Perry Hwy","venue_city":"Wexford","venue_state":"PA","venue_country":"United
        States","lat":40.6092,"lng":-80.0534},"contact":{"twitter":"@wexfordalehouse","venue_url":"http:\/\/www.wexfordalehouseonline.com"},"public_venue":true,"foursquare":{"foursquare_id":"4c7c45cc9efda143ca5d85e2","foursquare_url":"http:\/\/4sq.com\/aDtKfg"},"venue_icon":{"sm":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/nightlife\/pub_bg_64.png","md":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/nightlife\/pub_bg_88.png","lg":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/nightlife\/pub_bg_88.png"}},"comments":{"total_count":4,"count":4,"items":[{"user":{"uid":781483,"user_name":"Ontario","first_name":"Beer","last_name":"D.","bio":"","location":"Toronto","relationship":"none","is_supporter":0,"user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/2fce90321f46dc96de1981581029e7fc_thumb.jpg","user_link":"https:\/\/untappd.com\/user\/Ontario","account_type":"user","brewery_details":[]},"checkin_id":115642220,"comment_id":9630485,"comment_owner":false,"comment_editor":false,"comment":"would
        like to try this one the paulaner hef is delicious  :)","created_at":"Fri,
        19 Sep 2014 00:56:07 +0000","comment_source":"API"},{"user":{"uid":204272,"user_name":"defeta","first_name":"THEO","last_name":"DeFelice","bio":"Life
        is not about waiting for the storm to pass;  it''s about learning to dance
        in the rain..........  V. Greene","location":"Pittsburgh","relationship":"friends","is_supporter":0,"user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/ca99a49a9c627327e330d24c7d430528_thumb.jpg","user_link":"https:\/\/untappd.com\/user\/defeta","account_type":"user","brewery_details":[]},"[...]
