---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/user/friends/cmar?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '64'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.023,"measure":"seconds"},"init_time":{"time":0.012,"measure":"seconds"}},"notifications":[],"response":{"count":2,"items":[{"friendship_hash":"86b3c96cf0b44f824e47250434902427","created_at":"Sun,
        15 Sep 2013 13:51:37 +0000","user":{"uid":301098,"user_name":"geekoncoffee","location":"","bio":"","is_supporter":0,"first_name":"Andrew","last_name":"","relationship":"none","user_avatar":"https:\/\/gravatar.com\/avatar\/0f146e787560a7c4bbb8aa36d16ac5da?size=100&d=https%3A%2F%2Fd1c8v1qci5en44.cloudfront.net%2Fsite%2Fassets%2Fimages%2Fdefault_avatar_v2.jpg%3Fv%3D1"},"mutual_friends":{"count":0,"items":[]}},{"friendship_hash":"40ca84b5e8d27e425c5233c15ec2b699","created_at":"Wed,
        02 Feb 2011 11:35:45 +0000","user":{"uid":10819,"user_name":"pks1850","location":"","bio":"","is_supporter":0,"first_name":"sam","last_name":"","relationship":"none","user_avatar":"https:\/\/gravatar.com\/avatar\/414bd46a3e2ccdb0620d80a30c088ac2?size=100&d=https%3A%2F%2Fd1c8v1qci5en44.cloudfront.net%2Fsite%2Fassets%2Fimages%2Fdefault_avatar_v2.jpg%3Fv%3D1"},"mutual_friends":{"count":0,"items":[]}}]}}'
  recorded_at: Fri, 19 Sep 2014 03:53:30 GMT
recorded_with: VCR 2.3.0
