---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/user/beers/cmar?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '62'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.136,"measure":"seconds"},"init_time":{"time":0.01,"measure":"seconds"}},"notifications":[],"response":{"is_search":false,"beers":{"sort":"date","sort_english":"Date
        (Descending)","count":18,"items":[{"first_checkin_id":55010886,"first_created_at":"Fri,
        22 Nov 2013 20:29:55 +0000","recent_checkin_id":55010886,"recent_created_at":"Fri,
        22 Nov 2013 20:29:55 +0000","recent_created_at_timezone":"-5","rating_score":4,"first_had":"Fri,
        22 Nov 2013 20:29:55 +0000","count":1,"beer":{"bid":5724,"beer_name":"Jai
        Alai IPA","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-5724_64765_sm.jpeg","beer_abv":7.5,"beer_ibu":65,"beer_slug":"cigar-city-brewing-jai-alai-ipa","beer_style":"American
        IPA","beer_description":"Jai Alai IPA is a monster interpretation of an American
        IPA. In fact, it is so big that it equals the alcohol of some double IPAs
        on the market. Our IPA uses 6 different hop varietals, with Simcoe hops only
        being used for dry hopping. The rest of the hop additions are blended at different
        IBU''s (International Bittering Units) in groups of three hops per addition
        in order to create more hop complexity. At CCB, we love hops but also feel
        that balance is important for IPAs. So Jai Alai features a sturday caramel
        malt component which helps to create balance, staving off hop astringency.
        Ultimately, Jai Alai is a very strong interpretation of a single American
        IPA. We hope that it makes Tampa Bay natives happy because this is head brewer
        Wayne Wamble''s favorite Cigar City beer and he''d love to share one with
        you!","created_at":"Sat, 21 Aug 2010 07:26:35 +0000","auth_rating":0,"wish_list":false,"rating_score":4.02},"brewery":{"brewery_id":379,"brewery_name":"Cigar
        City Brewing","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-CigarCityBrewing_379.jpeg","country_name":"United
        States","contact":{"twitter":"CigarCityBeer","facebook":"http:\/\/www.facebook.com\/cigarcitybeer","instagram":"cigarcitybrewing","url":"http:\/\/cigarcitybrewing.com\/"},"location":{"brewery_city":"Tampa","brewery_state":"FL","lat":27.9593,"lng":-82.5092},"brewery_active":1}},{"first_checkin_id":49904197,"first_created_at":"Fri,
        18 Oct 2013 17:18:47 +0000","recent_checkin_id":49904197,"recent_created_at":"Fri,
        18 Oct 2013 17:18:47 +0000","recent_created_at_timezone":"-4","rating_score":3.5,"first_had":"Fri,
        18 Oct 2013 17:18:47 +0000","count":1,"beer":{"bid":1148,"beer_name":"Oaked
        Big Hoppy Monster (2012)","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-BigHoppyMonster2012_1148.jpeg","beer_abv":9.1,"b[...]
