---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/checkin/recent?access_token=<UNTAPPD_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-auth-type:
      - user
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.553,"measure":"seconds"}},"notifications":{"type":"notifications","unread_count":{"comments":0,"toasts":0,"friends":0,"messages":0,"news":0}},"response":{"checkins":{"count":25,"items":[{"checkin_id":17811863,"created_at":"Thu,
        13 Dec 2012 04:20:20 +0000","checkin_comment":"","rating_score":3,"user":{"uid":108249,"user_name":"rchaudry","first_name":"Rafi","last_name":"C","location":"Los
        Angeles","url":"","is_supporter":0,"relationship":"friends","bio":"","user_avatar":"https:\/\/gravatar.com\/avatar\/7544498ef984709d1535d1faae6d962f?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg","contact":[]},"beer":{"bid":252977,"beer_name":"Christmas
        Ale (2012)","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-_252977_ada79c48bdb90b89cc36ba5d96a0.jpeg","beer_style":"Winter
        Ale","beer_abv":7,"auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":3125,"brewery_name":"Great
        Lakes Brewing Company ","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-GreatLakesBrewingCompanyUSA_3125.jpeg","country_name":"United
        States","contact":{"twitter":"GLBC_Cleveland","facebook":"http:\/\/www.facebook.com\/greatlakesbrewingco","url":"http:\/\/www.greatlakesbrewing.com\/"},"location":{"brewery_city":"Cleveland","brewery_state":"OH","lat":41.4844,"lng":-81.7044},"brewery_active":1},"venue":{"venue_id":0,"venue_name":null,"primary_category":null,"categories":[],"venue_icon":{"sm":"","md":"","lg":""},"location":{"venue_address":null,"venue_city":null,"venue_state":null,"lat":0,"lng":0},"contact":{"twitter":null,"venue_url":null},"foursquare":{"foursquare_id":null,"foursquare_url":null}},"comments":{"count":0,"items":[]},"toasts":{"count":0,"auth_toast":false,"items":[]},"media":{"count":0,"items":[]},"source":{"app_name":"Untappd
        for Android - (V2)","app_website":"http:\/\/untpd.it\/androidapp"}},{"checkin_id":17809507,"created_at":"Thu,
        13 Dec 2012 03:49:38 +0000","checkin_comment":"","rating_score":4,"user":{"uid":108249,"user_name":"rchaudry","first_name":"Rafi","last_name":"C","location":"Los
        Angeles","url":"","is_supporter":0,"relationship":"friends","bio":"","user_avatar":"https:\/\/gravatar.com\/avatar\/7544498ef984709d1535d1faae6d962f?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg",[...]
