---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/user/wishlist/cmar?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '11'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.026,"measure":"seconds"}},"notifications":[],"response":{"beers":{"count":1,"items":[{"created_at":"Thu,
        20 Jan 2011 23:19:53 +0000","beer":{"bid":18182,"beer_name":"DFH Ale","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/assets\/images\/temp\/badge-beer-default.png","beer_abv":"9.5","beer_description":"(AKA
        Dogfish Head Ale)","beer_style":"Imperial \/ Double IPA","created_at":"Tue,
        28 Dec 2010 04:14:19 +0000","auth_rating":0,"wish_list":false},"brewery":{"brewery_id":459,"brewery_name":"Dogfish
        Head Craft Brewery","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-DogfishHeadCraftBrewery_459.jpeg","country_name":"United
        States","contact":{"twitter":"dogfishbeer","facebook":"http:\/\/www.facebook.com\/dogfishheadbeer","url":"http:\/\/www.dogfish.com\/"},"location":{"brewery_city":"Milton","brewery_state":"DE","lat":38.7776,"lng":-75.3099}},"friends":{"count":0,"items":[]}}]}}}'
  recorded_at: Tue, 04 Dec 2012 02:51:20 GMT
recorded_with: VCR 2.3.0
