---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/thepub?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '68'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.595,"measure":"seconds"},"init_time":{"time":0.011,"measure":"seconds"}},"notifications":[],"response":{"pagination":{"next_url":"http:\/\/api.untappd.com\/v4\/thepub?max_id=115704590","max_id":115704590,"since_url":"http:\/\/api.untappd.com\/v4\/thepub?min_id=115704600"},"checkins":{"count":25,"items":[{"checkin_id":115704600,"created_at":"Fri,
        19 Sep 2014 03:53:13 +0000","checkin_comment":"Grassy and spicy; citrus notes
        from cascade.","rating_score":3.5,"user":{"uid":834099,"user_name":"Nonspecialist","first_name":"Colin","last_name":"P.","location":"","url":"","is_supporter":0,"relationship":null,"bio":"","user_avatar":"https:\/\/gravatar.com\/avatar\/1445f661e126b4d20be9ad1d78f179f8?size=100&d=https%3A%2F%2Fd1c8v1qci5en44.cloudfront.net%2Fsite%2Fassets%2Fimages%2Fdefault_avatar_v2.jpg%3Fv%3D1","contact":{"twitter":"nonspecialist"}},"beer":{"bid":391735,"beer_name":"Dude","beer_abv":5.5,"beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/assets\/images\/temp\/badge-beer-default.png","beer_style":"American
        Pale Ale","auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":25451,"brewery_name":"Flying
        Couch","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-FlyingCouch_25451.jpeg","country_name":"Denmark","contact":{"twitter":"","facebook":"http:\/\/www.facebook.com\/flyingcouchbrewing","instagram":"","url":""},"location":{"brewery_city":"K\u00f8benhavn
        NV","brewery_state":"2400","lat":55.7076,"lng":12.537},"brewery_active":1},"venue":{"venue_id":5485,"venue_name":"The
        Royston","primary_category":"Food","parent_category_id":"4d4b7105d754a06374d81259","categories":{"count":3,"items":[{"category_name":"Gastropub","category_id":"4bf58dd8d48988d155941735","is_primary":true},{"category_name":"Bar","category_id":"4bf58dd8d48988d116941735","is_primary":false},{"category_name":"Restaurant","category_id":"4bf58dd8d48988d1c4941735","is_primary":false}]},"location":{"venue_address":"12
        River St","venue_city":"Richmond","venue_state":"VIC","venue_country":"Australia","lat":-37.8166,"lng":145.013},"contact":{"twitter":"@roystonhotel","venue_url":"http:\/\/www.roystonhotel.com.au"},"public_venue":true,"foursquare":{"foursquare_id":"4b0b509af964a5204d3023e3","foursquare_url":"http:\/\/4sq.com\/5WKv8H"},"venue_icon":{"sm":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/gastropub_bg_64.png","md":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/gastropub_bg_88.png","lg":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/gastropub_bg_88.png"}},"comments":{"total_count":0,"count":0,"items":[]},"toasts":{"total_count":0,"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]},"badges":{"count":0,"items":[]}},{"checkin_id":115704599,"created_at":"Fri,
        19 Sep 2014 03:53:13 +0000","checkin_comment":"","rating_score":0,"user":{"uid":41335,"user_name":"silversage","first_name":"Sage","last_name":"B.","location":"San
        Francisco","url":"","is_supporter":0,"relationship":null,"bio":"","user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/fedc150899fa12d7668d73adc70bec2a_thumb.JPG","contact":{"facebook":712397256}},"beer":{"bid":496706,"beer_name":"Rambler
  [...]
