---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/thepub/local?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>&lng=-87.6353645&lat=41.8883695&radius=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '67'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.706,"measure":"seconds"},"init_time":{"time":0.019,"measure":"seconds"}},"notifications":[],"response":{"limit":25,"offset":0,"type":"mg_norm","pagination":{"next_url":"http:\/\/api.untappd.com\/v4\/thepub\/local?max_id=115693412&lat=41.8883695&lng=-87.6353645","max_id":115693412,"since_url":"http:\/\/api.untappd.com\/v4\/thepub\/local?min_id=115704402&lat=41.8883695&lng=-87.6353645"},"radius":1609.34,"checkins":{"count":25,"items":[{"checkin_id":115704402,"distance":0.252,"created_at":"Fri,
        19 Sep 2014 03:52:11 +0000","rating_score":3.5,"checkin_comment":"","user":{"uid":204154,"user_name":"kwulguy","user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/649448406df4bc507c1174a8b766bdfe_100x100.jpg","first_name":"Ryan","last_name":"G.","is_private":0,"location":"NJ","bio":"","website":"","is_supporter":0,"relationship":null,"contact":{"foursquare":2429625,"twitter":"Kwulguy","facebook":508309579}},"beer":{"bid":16581,"beer_name":"Oberon
        Ale","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-16581_b3bbb_sm.jpeg","beer_abv":5.8,"beer_ibu":0,"beer_slug":"bell-s-brewery-inc-oberon-ale","beer_description":"","is_in_production":1,"beer_style_id":5,"beer_style":"American
        Pale Wheat Ale","auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":2507,"brewery_name":"Bell''s
        Brewery, Inc.","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-BellsBreweryInc_2507.jpeg","country_name":"United
        States","contact":{"twitter":"BellsBrewery","facebook":"http:\/\/www.facebook.com\/BellsBreweryInc","url":"http:\/\/www.bellsbeer.com\/"},"location":{"brewery_city":"Galesburg\/Comstock
        & Kalamazoo","brewery_state":"MI","lat":42.2917,"lng":-85.5872},"brewery_active":1},"venue":{"venue_id":105232,"venue_name":"Bridge
        House Tavern","primary_category":"Food","parent_category_id":"4d4b7105d754a06374d81259","categories":{"count":2,"items":[{"category_name":"American
        Restaurant","category_id":"4bf58dd8d48988d14e941735","is_primary":true},{"category_name":"River","category_id":"4eb1d4dd4b900d56c88a45fd","is_primary":false}]},"location":{"venue_address":"321
        N Clark St","venue_city":"Chicago","venue_state":"IL","venue_country":"United
        States","lat":41.8875,"lng":-87.6306},"contact":{"twitter":"@bridgehousetvrn","venue_url":"http:\/\/www.bridgehousetavern.com"},"public_venue":true,"foursquare":{"foursquare_id":"4db33b1bcda1c57c82420c10","foursquare_url":"http:\/\/4sq.com\/dXT2rY"},"venue_icon":{"sm":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/default_bg_64.png","md":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/default_bg_88.png","lg":"https:\/\/ss1.4sqi.net\/img\/categories_v2\/food\/default_bg_88.png"}},"comments":{"total_count":0,"count":0,"items":[]},"toasts":{"total_count":0,"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]}},{"checkin_id":115703926,"distance":0.416,"created_at":"Fri,
        19 Sep 2014 03:49:22 +0000","rating_score":3,"checkin_comment":"","user":{"uid":273234,"user_name":"Yeasterman","user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/e88bb1467b7c84677b8381fa86182d55_thumb.jpg","first_name":"Steve","last_name":"N.","is_private":0,"location":"Notty
        brewing  tasting room","bio":"","website":"","is_supporter":0,"relationship":null,"contact":{"foursquare":46[...]
