---
http_interactions:
- request:
    method: get
    uri: https://api.untappd.com/v4/checkin/view/17811863?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '69'
      x-auth-type:
      - key
      x-api-version:
      - '4'
      x-http-protocol:
      - '443'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.085,"measure":"seconds"},"init_time":{"time":0.019,"measure":"seconds"}},"notifications":[],"response":{"checkin":{"checkin_id":17811863,"created_at":"Thu,
        13 Dec 2012 04:20:20 +0000","rating_score":3,"checkin_comment":"","user":{"uid":108249,"user_name":"rchaudry","first_name":"Rafi","last_name":"C.","relationship":null,"location":"Waldo,
        Kansas City, MO","is_supporter":0,"url":"","bio":"","user_avatar":"https:\/\/d1c8v1qci5en44.cloudfront.net\/profile\/b4c1593477ff31e8369b034e7dd59dd6_thumb.jpg","is_private":0,"contact":[{"twitter":"TheRafiChaud","foursquare":71632132}],"stats":{"total_checkins":2579,"total_beers":2409}},"beer":{"bid":252977,"beer_name":"Christmas
        Ale (2012)","beer_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/beer_logos\/beer-_252977_ada79c48bdb90b89cc36ba5d96a0.jpeg","beer_label_hd":"","beer_style":"Winter
        Ale","beer_abv":7.5,"auth_rating":0,"wish_list":false},"brewery":{"brewery_id":3125,"brewery_name":"Great
        Lakes Brewing Company ","brewery_label":"https:\/\/d1c8v1qci5en44.cloudfront.net\/site\/brewery_logos\/brewery-GreatLakesBrewingCompanyUSA_3125.jpeg","country_name":"United
        States","contact":{"twitter":"GLBC_Cleveland","facebook":"http:\/\/www.facebook.com\/greatlakesbrewingco","instagram":"","url":"http:\/\/www.greatlakesbrewing.com\/"},"location":{"brewery_city":"Cleveland","brewery_state":"OH","lat":41.4844,"lng":-81.7044},"brewery_active":1},"venue":[],"comments":{"total_count":0,"count":0,"items":[]},"toasts":{"total_count":0,"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]},"source":{"app_name":"Untappd
        for Android - (V2)","app_website":"http:\/\/untpd.it\/androidapp"},"badges":{"count":0,"items":[]}}}}'
  recorded_at: Fri, 19 Sep 2014 03:53:25 GMT
recorded_with: VCR 2.3.0
