---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/thepub?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '87'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":0.211,"measure":"seconds"}},"notifications":[],"response":{"pagination":{"next_url":"http:\/\/api.untappd.com\/v4\/thepub?max_id=17830638","max_id":17830638,"since_url":"http:\/\/api.untappd.com\/v4\/thepub?min_id=17830662"},"checkins":{"count":25,"items":[{"checkin_id":17830662,"created_at":"Thu,
        13 Dec 2012 22:33:04 +0000","checkin_comment":"Very nice.  Balanced and easy
        drinking .","user":{"uid":28234,"user_name":"stubbornman","first_name":"Rob","last_name":"H.","location":"Soddy
        Daisy, TN","url":"http:\/\/stubbornman.com","is_supporter":0,"relationship":null,"bio":"Dreamin''
        and Scheme''n","user_avatar":"https:\/\/untappd.s3.amazonaws.com\/profile\/383ef7be49a5ad5cdecb74fe8a005776_thumb.jpg","contact":{"foursquare":5728104,"twitter":"StubbornMan"}},"beer":{"bid":4877,"beer_name":"Harvest
        Ale","beer_abv":6.7,"beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/beer_logos\/beer-southernTierHarvest.jpg","beer_style":"Extra
        Special\/Strong Bitter","auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":4586,"brewery_name":"Southern
        Tier Brewing Company","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-southernTier.jpg","country_name":"United
        States","contact":{"twitter":"stbcbeer","facebook":"http:\/\/www.facebook.com\/SouthernTierBrewingCompany","url":"http:\/\/southerntierbrewing.com\/"},"location":{"brewery_city":"Lakewood","brewery_state":"NY","lat":42.0892,"lng":-79.3543},"brewery_active":1},"venue":[],"comments":{"count":0,"items":[]},"toasts":{"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]}},{"checkin_id":17830661,"created_at":"Thu,
        13 Dec 2012 22:33:37 +0000","checkin_comment":"","user":{"uid":79868,"user_name":"nicksyz","first_name":"nick","last_name":"","location":"Randolph,
        NJ","url":"","is_supporter":0,"relationship":null,"bio":"","user_avatar":"https:\/\/untappd.s3.amazonaws.com\/profile\/bc98b87bb94269328f232a42d4bfc726_thumb.png","contact":{"foursquare":26170808}},"beer":{"bid":69614,"beer_name":"Head
        High","beer_abv":6.5,"beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/assets\/images\/temp\/badge-beer-default.png","beer_style":"American
        IPA","auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":14653,"brewery_name":"Kane
        Brewing Company","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-KaneBrewingCompany_14653.jpeg","country_name":"United
        States","contact":{"twitter":"kanebrewing","facebook":"http:\/\/www.facebook.com\/pages\/Kane-Brewing-Company\/150621064988364","url":"http:\/\/www.kanebrewing.com"},"location":{"brewery_city":"Ocean","brewery_state":"NJ","lat":40.2368,"lng":-74.0443},"brewery_active":1},"venue":{"venue_id":116279,"venue_name":"The
        Office Beer Bar & Grill","primary_category":"Nightlife Spot","parent_category_id":"4d4b7105d754a06376d81259","categories":{"count":2,"items":[{"category_name":"American
        Restaurant","category_id":"4bf58dd8d48988d14e941735","is_primary":false},{"category_name":"Bar","category_id":"4bf58dd8d48988d116941735","is_primary":true}]},"location":{"venue_address":"411
        North Avenue","venue_city":"Westfield","venue_state":"NJ","lat":40.65,"lng":-74.3487},"contact":{"twitter":"@officebeerbar","venue_url":""},"foursquare":{"foursquare_id":"4c40a4e87beab713d4609555","foursquare_url":"http:\/\/4sq.com\/c6kAIV"},"venue_icon":{"sm":"https:\/\/foursquare.com\/img\/categories\/nightlife\/bar_64.png","md":"https:\/\/foursquare.com\/img\/categories\/nightlife\/bar_88.png","lg":"https:\/\/foursquare.com\/img\/categories\/nightlife\/bar_256.png"}},"comments":{"count":0,"items":[]},"toasts":{"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]}},{"checkin_id":17830660,"created_at":"Thu,
        13 Dec 2012 22:33:26 +0000","checkin_comment":"","user":{"uid":350823,"user_name":"Robcook29","first_name":"Rob","last_name":"C.","location":"","url":"","is_supporter":0,"relationship":null,"bio":"","user_avatar":"https:\/\/gravatar.com\/avatar\/d42ce49d2799eb01fc[...]
