---
http_interactions:
- request:
    method: get
    uri: http://api.untappd.com/v4/thepub/local?client_id=<UNTAPPD_CLIENT_ID>&client_secret=<UNTAPPD_CLIENT_SECRET>&lng=-87.6353645&lat=41.8883695&radius=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '85'
      x-auth-type:
      - key
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"response_time":{"time":1.854,"measure":"seconds"}},"notifications":[],"response":{"pagination":{"next_url":"http:\/\/api.untappd.com\/v4\/thepub\/local?max_id=23754923&lat=41.8883695&lng=-87.6353645","max_id":23754923,"since_url":"http:\/\/api.untappd.com\/v4\/thepub\/local?min_id=23761941&lat=41.8883695&lng=-87.6353645"},"radius":"1","checkins":{"count":25,"items":[{"checkin_id":23761941,"distance":0.678,"created_at":"Sat,
        02 Mar 2013 23:56:31 +0000","rating_score":4,"checkin_comment":"","user":{"uid":393138,"user_name":"FEARDIZ","first_name":"John","last_name":"M.","location":"Plainfield
        IL","is_supporter":0,"url":"","relationship":null,"bio":"","user_avatar":"https:\/\/gravatar.com\/avatar\/1bed6ec1030ca096408c04b7b2a446c3?size=100&d=https%3A%2F%2Funtappd.s3.amazonaws.com%2Fsite%2Fassets%2Fimages%2Fdefault_avatar.jpg","contact":{"facebook":100000538488291}},"beer":{"bid":102528,"beer_name":"The
        Torch","beer_label":"https:\/\/untappd.s3.amazonaws.com\/site\/assets\/images\/temp\/badge-beer-default.png","beer_style":"American
        Pale Ale","auth_rating":0,"wish_list":false,"beer_active":1},"brewery":{"brewery_id":7966,"brewery_name":"Haymarket
        Pub and Brewery","brewery_label":"https:\/\/untappd.s3.amazonaws.com\/site\/brewery_logos\/brewery-HaymarketPubandBrewery_7966.jpeg","country_name":"United
        States","contact":{"twitter":"HaymarketBeer","facebook":"http:\/\/www.facebook.com\/HaymarketBrewing","url":"http:\/\/www.haymarketbrewing.com"},"location":{"brewery_city":"Chicago","brewery_state":"IL","lat":41.8842,"lng":-87.6472},"brewery_active":1},"venue":{"venue_id":6962,"venue_name":"Haymarket
        Pub & Brewery","primary_category":"Food","parent_category_id":"4d4b7105d754a06374d81259","categories":{"count":2,"items":[{"category_name":"Bar","category_id":"4bf58dd8d48988d116941735","is_primary":false},{"category_name":"Brewery","category_id":"50327c8591d4c4b30a586d5d","is_primary":true}]},"location":{"venue_address":"737
        W Randolph St","venue_city":"Chicago","venue_state":"IL","lat":41.8842,"lng":-87.6473},"contact":{"twitter":"","venue_url":"http:\/\/haymarketbrewing.com"},"foursquare":{"foursquare_id":"4bd88ddc1671b7135afb765f","foursquare_url":"http:\/\/4sq.com\/c2wr9r"},"venue_icon":{"sm":"https:\/\/foursquare.com\/img\/categories\/nightlife\/brewery_64.png","md":"https:\/\/foursquare.com\/img\/categories\/nightlife\/brewery_88.png","lg":"https:\/\/foursquare.com\/img\/categories\/nightlife\/brewery_256.png"}},"comments":{"count":0,"items":[]},"toasts":{"count":0,"auth_toast":null,"items":[]},"media":{"count":0,"items":[]}},{"checkin_id":23761836,"distance":0.679,"created_at":"Sat,
        02 Mar 2013 23:56:51 +0000","rating_score":4.5,"checkin_comment":"I like!","user":{"uid":404011,"user_name":"alpharasta","first_name":"sean","last_name":"w.","location":"","is_supporter":0,"url":"","relationship":null,"bio":"","user_avatar":"https:\/\/untappd.s3.amazonaws.com\/profile\/e39e8e22d6ec707555116d2e7487f71d_thumb.jpg","contact":{"facebook":716818427}},"beer":{"bid":316578,"beer_name":"Degan
    [...]
